<form class="" action="/edit" method="post">
  <input type="text" name="name" value="{{name}}" placeholder="Name" required>
  <input type="number" name="number" value="{{number}}" placeholder="No." required>
  <input type="text" name="type" value="
  {{#types}}
    {{.}}
  {{/types}}
  " placeholder="Type(s)">
  <select class="" name="stage">
    <option name="stage" value="basic">Basic</option>
    <option name="stage" value="1">Stage 1</option>
    <option name="stage" value="2">State 2</option>
  </select>
  <button type="submit" name="submit">Edit</button>
</form>
