<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My PokeDex</title>
    <!-- For unknown reasons, this link to CSS breaks the code. I would like to learn more about this i the future. -->
    <!-- <link rel="stylesheet" href="./main.css"> -->
  </head>
  <body>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
